# Ignore all files without an extension (binary executables)
# Ignore all
*
# Unignore files with extensions
!*.*
# Unignore directories
!*/
# Unignore build files
!PKGBUILD

# Ignore test files
*.md
*.html
